{
  "apiBaseUrl": "https://api.github.com",
  "username": "",
  "password": "",
  "token":"95eea825733ca570404e457191f65c1d2c2f0572",
  "groupByRepo": false,
  "repos": [

  ],
  "comments": {
    "positive": [
      ":+1:",
      ":thumbsup:"
    ],
    "negative": [
      ":-1:",
      ":thumbsdown:"
    ]
  },
  "mergeRule": {
    "positive": 2,
    "negative": 0,
    "neverRegexp": "DO NOT MERGE"
  }
}
